@import url(https://fonts.googleapis.com/css?family=Poppins:400,400italic,400bold);
@import url(https://fonts.googleapis.com/css?family=Sintony:400,400bold);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);

$txt:     #707172 !default; // main text colour (against white), if background use with white text
$h1_col: #7B67A2 !default; // H1 colour (against white), if background use with white text
$emph1: #447E41  !default; // link colour (against white), if background use with white text
$link: #BB5143  !default; // bold colour (against white), if background use with white text
$box: #807030 !default; // box colour (against white), use with txt and h1_col text, do not use as text
$wht: #FFFFFF !default; // use with white text
$quote: #657284 !default; // use with white text
$h4_col: #35597E !default; // use with white text


// Primary/body text
$mainFont: 'Poppins', sans-serif;
$mainFontSize: 24px;
$mainColor: $txt;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Sintony', Impact, sans-serif;
$headingColor: $h1_col;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2.00em;
$heading2Size: 1.55em;
$heading3Size: 1.25em;
$heading4Size: 1.00em;

$codeFont: 'Fira Mono';

/*-- scss:defaults --*/

// colors
$body-bg: $wht !default;
$body-color: $txt !default;
$link-color: $link !default;
$selection-bg: $txt !default;
$border-color:  $link;
$subtitle: $wht !default;
$code-block-bg: rgba($quote, .01) !default;
$code-bg: rgba($emph1, .1) !default;
$code-color: $emph1 !default;


/*-- scss:rules --*/

.slide-background-content{
  background-image: url("https://profandyfield.github.io/presentations/shared_media/images/slide_background_main.jpg");
  background-size: cover;
}

.reveal section div.center-h {
	text-align: center;
}

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
  color: $quote //colour of text in blockquotes
}

.reveal .slide-logo {
  height: 100px !important;
  width: 100px!important;
  max-width: unset !important;
  max-height: unset !important;
}

.reveal .progress {
  color: $emph1 !important;
  height: 1%;
}


.reveal .slide h4 {
  color: $h4_col !important;
}

.reveal .slide h3 {
  color: $link !important;
}





/* callouts */


.reveal .slide div.callout-tip {
  border-left-color: $box !important;
}

.reveal .slide div.callout-tip.callout-style-default .callout-title {
  background-color: lighten($box, 50%);
  color: $box
}

.reveal .slide div.callout-note {
  border-left-color: $h4_col !important;
}

.reveal .slide div.callout-note.callout-style-default .callout-title {
  background-color: lighten($h4_col, 40%);
  color: $h4_col
}

.reveal .slide div.callout-warning {
  border-left-color: $link !important;
}

.reveal .slide div.callout-warning.callout-style-default .callout-title {
  background-color: lighten($link, 40%);
  color: $link
}

/* hamburger colour */

.reveal .slide-menu-button .fa-bars::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(68, 126, 65)" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>') !important;
}

/* general styles */

p.subtitle {
  color: white !important;
}

.title {
  font-size: 60px !important;
  color: white !important;
}

.author {
  font-size: 40px;
  color: white;
}

.institute {
  font-size: 30px;
  font-style: italic;
  color: white;
}

/* reduce font size in data tables */

.reveal .slide table.dataTable td {
  font-size: 80%;
}

/* text size adjusters */

.reveal .slide .txt_300 {
    font-size: 300%;
}

.reveal .slide .txt_xl {
    font-size: 150%;
}

.reveal .slide  .txt_l {
    font-size: 125%;
}

.reveal .slide  .txt_s {
    font-size: 75%;
}

.reveal .slide  .bold_col {
    color: $link;
    font-weight: bold;
}

.reveal .slide  .txt_red {
    color: $link;
}

.reveal .slide  .txt_white {
    color: white;
}

/* Pedagogic boxes */

.tip {
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #136CB9;
  background-color: #136CB9;
  background-color: rgba(19, 108, 185, 0.1);
  color: #2C5577;
}


.note {
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #f3e2c4;
  background-color: #f3e2c4;
  background-color: rgba(243, 226, 196, 0.1);
  color: #775418;
}

.warning {
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #CA3E34;
  background-color: #CA3E34;
  background-color: rgba(145, 45, 37, 0.1);
  color: #912D25;
}

.infobox {
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #E8EAE5;
  background-color: #E8EAE5;
  background-color: rgba(232, 234, 229, 0.95);
  color: #2F4F4F;
}

.whitebox {
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.70);
  color: #2C5577;
}
